*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

*.iml
*.idea
/.*
/bat
/**/*.iml
/**/*.idea
/**/*.classpath
/**/*.settings
/**/*.buildpath
/**/*.project
/**/target/
/**/generated/
!/**/billingcycle/generated/
target/
rebel.xml
*.DS_Store
